extends layout

block content

  form(action='/todo/createnew', method='POST')
    input(type='text', name='name', placeholder='title of your todo')
    input(type='text', name='description', placeholder='description of your todo')
    input(type='submit')
